.drag-and-drop {
  margin-top: 30px;
  height: 500px;
  width: 100%;
  border-radius: 25%;
  border: 1px dashed #573e8c;

  .text {
    margin-bottom: 30px;
    text-align: center;
    color: #573e8c;
  }
}

